*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    border: border-box;
}
.navbar{
    height: 15px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{

       height: 15px;
       width: 25px;
       }
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 15px; 
    width: 25px;}
.border{
    border: 0.5px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
}
/** box2**/

.add-first{
    color: #cccccc;
      font-size: 0.19rem;
      margin-left: 5px;
}

.add-sec{
     font-size: 0.30rem;
     margin-left: 1px;
}
.add-icon{
    font-size: 0.30rem;
    display: flex;
    align-items: center;
}
/** box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.35rem;
    background-color: pink;
    width: 170px;
    border-radius: 1px;
    
    
    }
     .searchamazon{
        font-size: 3px;
        height: 6px;
        width: 200px;
        border:0.5px solid orange ;
        border-radius: 1px;
        
        
       
     }

     .select{
        font-size: 3px;
        height: 9px;
        border:0.5px solid orange ;
        border-radius: 1px;
        background-color: #f3f3f3;
        text-align: center;
        
        }
        .search-icon{
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 1px;
        }
        .nav-search:hover{
               border:0.5px solid orange;
        }
        /** box4**/
        p{
            font-size: 3px;
            

        }
        .nav-sec{
            font-size: 4px;
            margin-bottom: 0.25px;
            font-weight:500;
            
        }
        /** box 6**/
        .navcart {
            font-size: 3px;
            font-weight: 700;
         }
         .navcart i{
            font-size: 6px;
         }
         /** panel**/
        .panel{
            height: 10px;
            background-color: #222f3d;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
        } 
   .panel-ops {
    display: flex;
    color: white;
    width: 80%;
    font-size: 0.85rem;
    }
    .panel-ops p{
        display: inline-block;
        justify-content: space-evenly;
        margin-left: 15px;

    }
    .panel-all i{
        font-size: 3px;
        width: 10%;
        margin-left: 5px;
    }  
    .panel-all {
       font-size: 3px;
       color: white;
       width: 10%;
       margin-bottom: 4px;
       
    }  
    .panel-all{
        font-size: 8px;
    }
    .panel-deals p{
       color: white;
       font-size: 2.10px;
       font-weight: 700;
       margin-right: 5px;
    }

/** hero section **/
.hero-section{
    margin-top: 0.25px;
    background-image: url("Hero.jpg");
    height: 65px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
    background-color: white;
    color: black;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 5px;
    
}
.hero-msg a{
    color: #007185;
}
/** shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#CB9DF0;
    font-size: 100%;


}
.box {
    /*border: 0.50px solid black;*/
    height: 70px;
    font-size: 3px;
    width: 23%;
    background-color: white;
    padding: 5px 0px 2px ;
    margin-top: 2px;
    }
    .box-image{
       height: 60px; 
       background-size: cover;
       margin-top: 2px;
       margin-bottom: 2px;
    }
    .box-content{
        margin-left: 2px;
        margin-right: 2px;
    }
    .box-content p{
        color: #007185;
    }
    footer{
        background-color: #0f1111;
        height: 15px;
        font-size: 3px;
        display: flex;
        text-align: center;
        align-items: center;
        padding-left: 125px;
        color: white;
        margin-top: 5px;
      } 

    
        
